Package: chonos-ros2-jazzy-armhf
Version: 2.0.0
Priority: optional
Architecture: armhf
Essential: no
Depends: libacl1, libc6, libconsole-bridge1.0, libexpat1, libfmt10, libgcc-s1, liblttng-ust1t64, liblttng-ust-common1t64, libpython3.13, libspdlog1.15, libssl3t64, libstdc++6, libtinyxml2-11, libyaml-0-2, libzstd1, zlib1g, python3, python3-yaml, python3-lark, python3-psutil, python3-numpy, python3-cryptography
Pre-Depends:
Suggests:
Installed-Size: 145000
Maintainer: Nilson Lazarin <chon@grupo.cefet-rj.br>
Homepage: https://github.com/chon-group/dpkg-chonos-ros2-jazzy-armhf
Conflicts:
Replaces:
Provides: chonos-ros2-jazzy
Description: ROS 2 Jazzy development environment for chonOS ARMHF - Provides a complete ROS 2 Jazzy development environment for chonOS ARMHF, including the ROS 2 runtime, command-line tools, C++ and Python client libraries, Fast DDS middleware support, demo nodes, development headers and build tools.
